Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

In [1]:
print("Hello World!")

Hello World!

In [2]:
#simple program
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [3]:
if 5>2:
 print("Five is greater than two!")
if 5>2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

COMMENTS

In [17]:
#EMMA

In [16]:
"""
  THIS IS SRILEKHA EMMA
  PURSUING MASTERS IN DATA SCIENCE
  CURRENTLY PREPARATING FOR MY GOAL
  TO BECOME A DATA SCIENTIST
"""

'\n  THIS IS SRILEKHA EMMA\n  PURSUING MASTERS IN DATA SCIENCE\n  CURRENTLY PREPARATING FOR MY GOAL\n  TO BECOME A DATA SCIENTIST\n'

1. Variables and Data Types

In [6]:
# Numbers
x = 10         # Integer
y = 3.14       # Float

# Strings
name = "Alice"

# Boolean
is_valid = True


print(x)
print(y)
print(name)
print(is_valid)

10
3.14
Alice
True

2. Basic Operations

In [8]:
# Arithmetic
a = 5 + 3       # 8
b = 10 / 2      # 5.0
c = 2 ** 3      # 8

# String operations
greeting = "Hello " + name   # "Hello Alice"
repeated_hello = "Hello " * 3  # "Hello Hello Hello "

print(a)
print(b)
print(c)
print(greeting)
print(repeated_hello)

8
5.0
8
Hello Alice
Hello Hello Hello

3.control flow statements

a.if else-statement

In [9]:
  if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is 5")
else:
    print("x is less than 5")

x is greater than 5

b.for loop

In [10]:
for i in range(5):
    print(i)  # prints 0 to 4

0
1
2
3
4

c.while loop

In [11]:
n = 0
while n < 5:
    print(n)
    n += 1

0
1
2
3
4

5.FUNCTIONS

In [13]:
def greet(name):        #function definition
    return f"Hello, {name}!"

print(greet("Alice"))  # function calling

Hello, Alice!

6.Data Structures

A.LIST-[  ]

In [14]:
FRUITS = ['apple', 'banana', 'cherry']
print(FRUITS)

['apple', 'banana', 'cherry']

B.TUPLE-

In [21]:
 point = (10, 20)
print(point)
point = (18,32)
print(point)

(10, 20)
(18, 32)

C.Dictionaries

In [27]:
person = {"name": "Alice", "age": 25}
print(person["name"])
frnd = {"name":"srilekha","age":21}
print(frnd["name"])
enemy = {"name":"lavnya reddy","age":25}
print(enemy["name"])
daddy ={"name":"sathaiah","age":"45"}
print(daddy["name"])
amma = {"name":"punya","age":"41"}
print(amma["name"])

Alice
srilekha
lavnya reddy
sathaiah
punya

## Difference Between Python Data Structures

| Data Structure | Description                          | Ordered | Mutable | Allows Duplicates | Example                         |
|----------------|--------------------------------------|---------|---------|-------------------|----------------------------------|
| **List**       | Collection of items                  |  Yes  |  Yes  |  Yes            | `fruits = ['apple', 'banana']`   |
| **Tuple**      | Immutable sequence of items          |  Yes  |  No   |  Yes            | `point = (10, 20)`               |
| **Set**        | Unordered collection of unique items |  No   |  Yes  | No             | `unique = {1, 2, 3}`             |
| **Dictionary** | Key-value pairs                      |  Yes  |  Yes  | Keys must be unique | `person = {'name': 'Alice'}` |

Notes:
**Mutable** means you can change the data (add, remove, modify).
- **Immutable** means data cannot be changed after creation.
- **Ordered** means elements maintain their insertion order (true for lists, tuples, and dictionaries in Python 3.7+).
- **Duplicates** are allowed in lists and tuples, but **sets and dictionary keys must be unique**.



SLICING

sequence[start:stop:step]

In [29]:
my_list = [0, 1, 2, 3, 4, 5, 6]

print(my_list[1:4])      # [1, 2, 3]
print(my_list[:3])       # [0, 1, 2]
print(my_list[3:])       # [3, 4, 5, 6]
print(my_list[::2])      # [0, 2, 4, 6]
print(my_list[::-1])     # [6, 5, 4, 3, 2, 1, 0] (reversed)

[1, 2, 3]
[0, 1, 2]
[3, 4, 5, 6]
[0, 2, 4, 6]
[6, 5, 4, 3, 2, 1, 0]

append() is used to add a single element to the end of a list.

In [30]:
fruits = ['apple', 'banana']
fruits.append('cherry')
print(fruits)  # ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

FUNCTIONS AND SCOPE

In [31]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))  # FUNCTION CALLING

Hello, Alice!

Parameters and Return Values:

In [32]:
def add(a, b):
    return a + b

print(add(3, 5))  # 8

8

Variable Scope:


Local: Defined inside a function

Global: Defined outside any function

In [ ]:
x = 10  # Global

def example():
    x = 5  # Local to function
    print(x)

example()    # 5
print(x)     # 10

Using the global keyword to modify a global variable inside a function.

In [34]:
x = 10  # Global

def example():
    global x
    x = 5  # Now this modifies the global x
    print(x)

example()    # 5
print(x)     # 5 (the global x has been modified)




#error:o fix this, you should declare x as global on one line and then assign the value on the next line

5
5